@font-face {
	font-family: 'Red Hat Display';
	src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf');
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;

	margin: 0;
}

:root {
	--clr-cyan-600: rgb(77, 150, 168);
	--clr-cyan-300: rgb(143, 227, 249);

	--clr-purple-600: rgb(133, 95, 177);
	--clr-purple-300: rgb(217, 184, 255);

	--clr-slate-900: rgb(40, 40, 61);
	--clr-slate-600: rgb(135, 135, 157);
	--clr-slate-300: rgb(209, 209, 223);

	--clr-white: rgb(250, 250, 250);

	--spacing-1400: 112px;
	--spacing-1000: 80px;
	--spacing-900: 72px;
	--spacing-800: 64px;
	--spacing-700: 56px;
	--spacing-500: 40px;
	--spacing-400: 32px;
	--spacing-300: 24px;
	--spacing-200: 16px;
	--spacing-100: 8px;
	--spacing-50: 4px;

	--numeric-marker-line-height: 10rem;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	background-color: var(--clr-white);
	color: var(--clr-slate-900);
}

header {
	margin-top: var(--spacing-1000);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
}

/*** Button ***/

.button {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;

	padding-inline: var(--spacing-500);
	min-height: 3.4rem;
	width: fit-content;

	text-decoration: none;
	font-weight: 900;

	border-radius: 50px;

	bottom: 0;
	box-shadow: none;
	mix-blend-mode: normal;

	transition-property: color, background-color, bottom, box-shadow, filter;
	transition-duration: 0.15s;
}

.button:hover {
	bottom: 3px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.341);
	filter: brightness(115%);
}

.button:active {
	bottom: -3px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.341);
	filter: brightness(85%);
}

.button__download-version-number {
	opacity: 75%;
	mix-blend-mode: overlay;
}

.btn-primary {
	background-color: var(--clr-cyan-600);
	color: var(--clr-white);
}

.btn-secondary {
	background-color: var(--clr-purple-600);
	color: var(--clr-white);
}

/*** Images ***/

.logo {
	margin-bottom: 4rem;
}

.main-image-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing-700);
	margin-block: 5rem;
}

.main-image-grid > picture > img {
	border-radius: 20px;
}

.hero-image-medium {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

/*** Text ***/

.title-1 {
	font-weight: 900;
	font-size: 2.8rem;
}

.title-2 {
	font-size: 4rem;
	font-weight: 900;
	text-align: center;
	line-height: 1.4ch;
}

.subtitle {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.15ch;
	color: var(--clr-cyan-600);
}

/*** General ***/

.numeric-marker {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	max-width: fit-content;

	padding: var(--spacing-500);
	margin-top: var(--numeric-marker-line-height);

	font-size: 2rem;
	color: var(--clr-slate-600);
	font-weight: 700;

	aspect-ratio: 1;

	border: 2px solid var(--clr-slate-300);
	border-radius: 999px;
}

.numeric-marker::before {
	position: absolute;
	content: '';
	background-color: var(--clr-slate-300);
	height: var(--numeric-marker-line-height);
	width: 2px;
	bottom: 100%;
}

.hero-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-200);
	max-width: 100%;
	min-height: 10rem;
}

.paragraph {
	color: var(--clr-slate-600);
	font-size: 1rem;
	font-weight: 500;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	text-align: center;
}

.hero-image-big-screen {
	display: none;
}

/*** Utility ***/
.padding-inline {
	padding-inline: var(--spacing-1400);
}
